body{
    background-color: #e5e7da; /* Color de fondo */
}

.contenedor-botones button {
    margin: 0.5rem; /* Margen entre botones */
  }
  

.boton-tienda { 
  align-self: flex-end;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  width: 0.7rem;
  height: auto;
}

.boton-tienda img {
  position: relative;
  top: 0.5rem;
  width: 2rem;
  height: auto;
}

.boton-tienda .fs-6{
  position: relative;
  top: 0.5rem;
  color: #FFFFFF;

}
.boton-iniciar-sesion {
    background-color: #2E7D32; /* Verde oscuro */
    color: #FFFFFF; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
.boton-iniciar-sesion:hover {
    background-color: #1B5E20; /* Verde más oscuro para el hover */
  }
 
  
.separador{
    height: 6rem; /* Para separar las categorías de footer */
}

.carrito-link {
  position: relative; 
}

.contador_carrito {
  position: absolute !important;
  top: -5px !important; 
  right: -5px; 
  font-size: 12px;
  padding: 4px 8px;
}

@media (max-width: 768px) {
  .contador_carrito {
      top: -3px;
      right: -3px;
      font-size: 10px;
      padding: 3px 6px;
  }
}