/* Navbar */

.contenedor-contacto{
    display: flex;
    align-items: center;
    height: 45rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    margin: 1rem;
    padding: 1rem;
    width: 90%;
}
@media screen and (max-width: 768px){
    .contenedor-contacto{
        flex-direction: column;
        height: 60rem;
    }
    
}
@media screen and (max-width: 576px){
    .contenedor-contacto{
        height: 70rem;
    }
    
}
.boton-volver img{
    width: 2rem;
    height: 2rem;
}
