a .card img {
    transition: transform 0.3s ease; /* Transición suave */
}

a .card:hover img {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al 120% */
}


/*carousel*/
.carousel-item img {
    max-height: 90vh;  /* para que se vea proporcional al espacio de la navbar */
    width: auto; /* Para mantener la proporción de aspecto */
  }

.boton-sabermas {
    background-color: transparent;
    border: none;
    transition: transform 0.3s ease; /* Transición suave */

}
.boton-sabermas a {
    color: #FFFFFF;
    text-decoration: none;
}

.boton-sabermas:hover {
    transform: scale(1.2); /* Aumenta el tamaño del texto al 120% */
}


/*cards*/
.lista-categorias {
    margin-top: 3rem; /* Para separar las categorías del carousel */
    
}
.card img {
    display: block; /* Para centrar la imagen */
    margin: 2rem auto; 
    max-height: 10rem; /* Para que las imágenes no se vean tan grandes */
    width: 7rem; /* Para mantener la proporción de aspecto */
}



