.contenedor-boton-agregar{
    display: flex;
    justify-content: flex-end;
    margin-right: 5vw;
    margin-top: 1rem;
}

.boton-volver img{
    width: 2rem;
    height: 2rem;
}
.imagenPerfil{
   max-width: 6rem;
}
.buscador{
    margin-left: 20vw;
    max-width: 50vw;
}
@media screen and (max-width: 576px) {
    .buscador{
        margin-left: 10vw;
        max-width: 70vw;
    }
}
@media screen and (max-width: 768px) {
 
    .contenedor-informacion div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }
    
    .botones-usuarios div {
        
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
       
    }
    .contenedor-imagen{
        display: flex;
        justify-content: center;
    }
    .imagenPerfil{
        max-width: 10rem;
    }
    
}
.boton-agregar-usuario{
    background-color: green;
    color: white;
}
.boton-agregar-usuario:hover{
    background-color: darkgreen;
    color: white;
}