
.contenedor-tarjeta{
    border: transparent;
}

.boton-volver img{
    width: 2rem;
    height: 2rem;
}
.form-check-input{
    width: 1.2rem;
    border-color: black;
}
.form-control{
    border-color: black;
}
.form-select{
    border-color: black;
}
label{
    color: black;
    font-family: 'Roboto', sans-serif;
}
.boton-pagar{
    width: 100%;
    margin-top: 1rem;
    background-color: green;
    color: white;
}

.boton-pagar:hover{
    background-color: darkgreen;
    color: white;
}