
.imagen-perfil {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem auto;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagen-perfil {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

h6 {
    font-weight: bold;
}

.text-secondary {
    font-size: 1rem;
}

.btn {
    font-size: 1rem;
    padding: 0.75rem 1.25rem;
}

.boton-editar{
    width: 100%;
    margin-top: 1rem;
    background-color: green;
    color: white;
}

.boton-editar:hover{
    background-color: darkgreen;
    color: white;
}

.boton-guardar{
    width: 100%;
    margin-top: 1rem;
    background-color: green;
    color: white;
}

.boton-guardar:hover{
    background-color: darkgreen;
    color: white;
}

.boton-eliminar{
    width: 100%;
    margin-top: 1rem;
    background-color: rgb(199, 32, 32);
    color: white;
}

.boton-eliminar:hover{
    background-color: darkred;
    color: white;
}