{% extends 'Druids/base.html' %} 
{% block title %}Contacto{% endblock %}
{% load static %} 
{% load crispy_forms_tags %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/contacto.css' %}">
    <main>
        <!--boton de volver atras-->
        <section class="d-flex justify-content-start">
            <div class="container m-2">
                <a href="{% url 'index' %}" class="btn boton-volver"><img src="{% static 'Druids/img/back-svgrepo-com.svg' %}" alt=""></a>
            </div>
        </section>
        <section class="d-flex justify-content-center">
            <div class="container contenedor-contacto">
                <div class="row">
                    <div class="col-md-6 contenedor-texto">
                        <h2 class="display-5">Contactanos</h2>
                        <p class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper diam quis
                            mattis semper. Nunc nec dui eget quam ultricies mattis. Nullam ac felis semper, lobortis
                            quam sit amet, ullamcorper quam. Maecenas sit amet mollis eros. Sed ultrices dui eget magna
                            tincidunt, ac tincidunt magna faucibus.</p>
                        <address>
                            <strong class="">DRUIDS</strong><br>
                            123 Main Street<br>
                            Anytown, CA 12345<br>
                            <a href="mailto:info@example.com">info@example.com</a><br>
                            <a href="tel:+1234567890">(123) 456-7890</a>
                        </address>
                    </div>
                    <div class="col-md-6">
                        <form method="post" class="needs-validation" id="formulario-contacto">
                            {% csrf_token %}
                            {{ formularioContacto|crispy }}
                            <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}