{% extends 'Druids/base.html' %} 
{% block title %}historialCompra{% endblock %}
{% load static %} 
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/historialCompra.css' %}">
    <main>
        <!--boton de volver atras-->
        <section class="d-flex justify-content-start">
            <div class="container m-2">
                <a href="{% url 'index' %}" class="btn boton-volver"><img src="{% static 'Druids/img/back-svgrepo-com.svg' %}" alt=""></a>
            </div>
        </section>
        <!--Seccion de historial de compras-->
        <section class="container-fluid Historial">
            <!--Barra de busqueda-->

            <!--Historial de compras-->
            <div class="card m-3">
                <div class="card-header d-flex justify-content-center">
                    <h5>Historial de compras</h5>
                </div>
                <div class="input-group mt-3 buscador">
                    <input type="text" class="form-control" placeholder="Buscar Pedido">
                    <button class="btn btn-outline-secondary" type="button">Buscar</button>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ID del Pedido: #1234</h5>
                                        <p class="card-text">Productos Comprados:<br> - Producto 1<br> - Producto 2<br>
                                            - Producto 3</p>
                                        <p class="card-text">Total: $100.00</p>
                                        <p class="card-text">Estado de la Venta: En Proceso</p>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalFactura">Ver factura</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ID del Pedido: #1235</h5>
                                        <p class="card-text">Productos Comprados:<br> - Producto 4<br> - Producto 5<br>
                                            - Producto 6</p>
                                        <p class="card-text">Total: $150.00</p>
                                        <p class="card-text">Estado de la Venta: Entregado</p>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalFactura">Ver factura</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ID del Pedido: #1236</h5>
                                        <p class="card-text">Productos Comprados:<br> - Producto 7<br> - Producto 8<br>
                                            - Producto 9</p>
                                        <p class="card-text">Total: $200.00</p>
                                        <p class="card-text">Estado de la Venta: Cancelado</p>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalFactura">Ver factura</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ID del Pedido: #1234</h5>
                                        <p class="card-text">Productos Comprados:<br> - Producto 1<br> - Producto 2<br>
                                            - Producto 3</p>
                                        <p class="card-text">Total: $100.00</p>
                                        <p class="card-text">Estado de la Venta: En Proceso</p>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalFactura">Ver factura</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ID del Pedido: #1235</h5>
                                        <p class="card-text">Productos Comprados:<br> - Producto 4<br> - Producto 5<br>
                                            - Producto 6</p>
                                        <p class="card-text">Total: $150.00</p>
                                        <p class="card-text">Estado de la Venta: Entregado</p>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalFactura">Ver factura</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">ID del Pedido: #1236</h5>
                                        <p class="card-text">Productos Comprados:<br> - Producto 7<br> - Producto 8<br>
                                            - Producto 9</p>
                                        <p class="card-text">Total: $200.00</p>
                                        <p class="card-text">Estado de la Venta: Cancelado</p>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalFactura">Ver factura</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal de ver factura -->
            <div class="modal" id="modalFactura">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title fs-1">Factura</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="modal-body">
                                <p>**Información de la Factura:**</p>
                                <ul>
                                    <li>ID del Pedido: #1236</li>
                                    <li>Fecha de Compra: 2024-04-18</li>
                                    <li>Cliente: [Nombre del Cliente]</li>
                                    <li>Dirección: [Dirección del Cliente]</li>
                                    <li>Productos:</li>
                                    <ul>
                                        <li>Producto 7: [Precio]</li>
                                        <li>Producto 8: [Precio]</li>
                                        <li>Producto 9: [Precio]</li>
                                    </ul>
                                    <li>Total: $200.00</li>
                                    <li>Estado de la Venta: Cancelado</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer d-flex justify-content-between">
                            <button type="button" class="btn btn-primary fs-5" data-bs-dismiss="modal">Imprimir</button>
                            <button type="button" class="btn btn-danger fs-5" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}