{% extends 'Druids/base.html' %} 
{% block title %}historialCompra{% endblock %}
{% load static %} 
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/historialCompra.css' %}">
    <main>
        <section class="container-fluid mt-5">
            <h1 class="text-center">Historial de Compras</h1>
        </section>
        <!--Seccion de historial de compras-->
        <section class="container-fluid Historial">
            <div class="card m-3">
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            {% if not pedidos %}
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div>
                                    <div>
                                        <img src="{% static 'Druids/img/gris_claro.jpg' %}" class="img-fluid rounded-3" alt="skeleton">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div>
                                    <div>
                                        <img src="{% static 'Druids/img/gris_claro.jpg' %}" class="img-fluid rounded-3" alt="skeleton">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div>
                                    <div>
                                        <img src="{% static 'Druids/img/gris_claro.jpg' %}" class="img-fluid rounded-3" alt="skeleton">
                                    </div>
                                </div>
                            </div>
                            {% else %}  
                            {% for pedido in pedidos %}
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="card-title text-center">Pedido #{{ pedido.id }}</h5>
                                        <p class="card-text">Cliente: {{ pedido.nombre }} {{ pedido.apellido }}</p>
                                        <p class="card-text">Fecha: {{ pedido.fecha_pedido }}</p>
                                        <p class="card-text">Total: ${{ pedido.total }}</p>
                                        <p class="card-text">Estado: {{ pedido.estado }}</p>
                                    </div>
                                    <div class="text-center mb-3 mx-3">
                                        <button type="button" class="btn btn-sm ver-detalles" data-pedido-id="{{ pedido.id }}" data-bs-toggle="modal" data-bs-target="#modalVerPedido{{pedido.id}}">Ver Factura</button>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade bd-example-modal-lg" id="modalVerPedido{{pedido.id}}" tabindex="-1" aria-labelledby="modalVerPedidoLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalVerPedidoLabel">Pedido #<span id="pedido-id"></span></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body text-center">
                                            <p>**Información de la Factura:**</p>
                                            <ul>
                                                <li>ID del Pedido: #{{ pedido.id }}</li>
                                                <li>Fecha de Compra: {{ pedido.fecha_pedido }}</li>
                                                <li>Cliente: {{ pedido.nombre }} {{ pedido.apellido }}</li>
                                                <li>Dirección: {{ pedido.direccion_envio }}</li>
                                                <li>Productos:</li>
                                                <ul id="listaProductos">
                                                    
                                                </ul>
                                                <li>Total: ${{ pedido.total }}</li>
                                                <li>Estado de la Venta: {{ pedido.estado }}</li>
                                            </ul>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <button type="button" class="btn boton-imprimir" data-bs-dismiss="modal">Imprimir</button>
                                            <button type="button" class="btn boton-cerrar" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<script src="{% static 'Druids/js/historialCompra.js' %}"></script>
<script>
    const detallePedidoUrl = "{% url 'detallePedido' %}";
</script>
{% endblock %}