{% extends 'Druids/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/index.css' %}" />
<main>
  <!-- Carousel -->
  <section id="section-1">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
              <img id="imagen-item-1" src="{% static 'Druids/img/plant.png' %}" class="d-block w-100 imagen-item"
                alt="Imagen 1">
            </div>
            <div class="col d-flex align-items-center justify-content-center">
              <h1 class="titulo-item" id="tituloItem">¡Bienvenido a Druids!</h1>
              <p class="texto-item" id="textoItem">Encuentra todo lo que necesitas para tu jardín<br>Decora tus espacios
                con nuestra
                amplia variedad de plantas</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
              <img src="{% static 'Druids/img/cactus.png' %}" class="d-block w-100 imagen-item" alt="Imagen 2">
            </div>
            <div class="col d-flex align-items-center justify-content-center">
              <h1 class="titulo-item">CACTUS</h1>
              <p class="texto-item">Encuentra los cactus más hermosos y variados<br> Ideales para decorar tus espacios
                con un toque de naturaleza</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
              <img src="{% static 'Druids/img/arbol.png' %}" class="d-block w-100 imagen-item" alt="Imagen 2">
            </div>
            <div class="col d-flex align-items-center justify-content-center">
              <h1 class="titulo-item">ARBOLES</h1>
              <p class="texto-item">Aqui pordras encontrar un amplio catalogo de arboles<br>Planta felicidad en tu hogar
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-caption">
        <button class="boton-sabermas" id="boton-saber-mas"><a class="display-4" href="#section-2">Saber Más</a></button>
        <p id="texto-saber-mas" class="fs-4">Conoce nuestra categoria de productos</p>
      </div>
    </div>
  </section>
  

  <!--Categoria de productos-->
  <section id="section-2" class="mt-5">
    <div class="container lista-categorias">
      <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
          <a href="{% url 'listadoProductos' 'Arboles' %}" style="text-decoration: none !important;">
            <div class="card shadow">
              <img src="{% static 'Druids/img/arbol-icono.png' %}" class="card-img-top" alt="Arbol" />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Arboles</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' 'Arbustos' %}" style="text-decoration: none !important;">
            <div class="card shadow">
              <img src="{% static 'Druids/img/arbusto-icono.png' %}" class="card-img-top" alt="Arbusto" />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Arbustos</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' 'Cactus' %}" style="text-decoration: none !important;">
            <div class="card shadow">
              <img src="{% static 'Druids/img/cactus-icono.png' %}" class="card-img-top" alt="Cactus" />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Cactus</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' 'Flores' %}" style="text-decoration: none !important;">
            <div class="card shadow">
              <img src="{% static 'Druids/img/flores-icono.png' %}" class="card-img-top" alt="flores" />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Flores</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' 'Implementos' %}" style="text-decoration: none !important;">
            <div class="card shadow">
              <img src="{% static 'Druids/img/implementos-icono.png' %}" class="card-img-top" alt="implementos" />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Implementos</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' 'Cuidados' %}" style="text-decoration: none !important;">
            <div class="card shadow">
              <img src="{% static 'Druids/img/cuidados-icono.png' %}" class="card-img-top" alt="Cuidados" />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Cuidados</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' 'Enredaderas' %}" style="text-decoration: none !important;">
            <div class="card shadow">
              <img src="{% static 'Druids/img/enredaderas-icono.png' %}" class="card-img-top" alt="Herramientas" />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Enredaderas</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="{% static 'Druids/js/index.js' %}"></script>
{% endblock %}