{% extends 'Druids/base.html' %}
{% load static %}
{% block title %}Inicio{% endblock %} 
{% block contenido %}
<main>
  <!-- Carousel -->
  <section id="section-1">
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="0"
          class="active"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="1"
        ></button>
        <button
          type="button"
          data-bs-target="#demo"
          data-bs-slide-to="2"
        ></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="{% static 'Druids/img/image.jpg' %}"
            alt="imagen"
            class="d-block w-100 img-fluid"
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'Druids/img/image.jpg' %}"
            alt="imagen"
            class="d-block w-100 img-fluid"
          />
        </div>
        <div class="carousel-item">
          <img
            src="{% static 'Druids/img/image.jpg' %}"
            alt="imagen"
            class="d-block w-100 img-fluid"
          />
        </div>
      </div>

      <div class="carousel-caption">
        <button class="boton-sabermas">
          <a class="display-4" href="#section-2">Saber Mas</a>
        </button>
        <p class="fs-4">Conoce nuestra categoria de productos</p>
      </div>

      <!-- Left and right controls/icons -->
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#demo"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </section>
  <!--Categoria de productos-->
  <section id="section-2">
    <div class="container lista-categorias">
      <div class="row row-cols-2 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
          <a href="{% url 'listadoProductos' %}">
            <div class="card shadow">
              <img
                src="{% static 'Druids/img/arbol.svg' %}"
                class="card-img-top"
                alt="Arbol"
              />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Arboles</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' %}">
            <div class="card shadow">
              <img
                src="{% static 'Druids/img/arbusto.svg' %}"
                class="card-img-top"
                alt="Arbusto"
              />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Arbustos</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' %}">
            <div class="card shadow">
              <img
                src="{% static 'Druids/img/cactus.svg' %}"
                class="card-img-top"
                alt="Cactus"
              />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Cactus</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' %}">
            <div class="card shadow">
              <img
                src="{% static 'Druids/img/flores.svg' %}"
                class="card-img-top"
                alt="flores"
              />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Flores</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' %}">
            <div class="card shadow">
              <img
                src="{% static 'Druids/img/implementos.svg' %}"
                class="card-img-top"
                alt="implementos"
              />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Implementos</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' %}">
            <div class="card shadow">
              <img
                src="{% static 'Druids/img/cuidados.svg' %}"
                class="card-img-top"
                alt="Cuidados"
              />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Cuidados</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a href="{% url 'listadoProductos' %}">
            <div class="card shadow">
              <img
                src="{% static 'Druids/img/enredaderas.svg' %}"
                class="card-img-top"
                alt="Herramientas"
              />
              <div class="card-body text-center">
                <h5 class="card-title fs-3">Enredaderas</h5>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
{% endblock %}
