{% extends 'Druids/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Iniciar Sesión{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/iniciarSesion.css' %}">
<div class="container center-container">
    <div class="card auth-card">
        <div class="card-body">
            <h2 class="card-title">Iniciar Sesión</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                    <a href="{% url 'registro' %}" class="btn btn-secondary">Registrarse</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}