{% extends 'Druids/base.html' %} 
{% block title %}inventario{% endblock %}
{% load static %} 
{% load crispy_forms_tags %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/inventario.css' %}">
    <main>
        <section>
            <div class="container">
                <h1 class="text-center my-2">Inventario de productos</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        <h4>Lista de productos</h4>
                                    </div>
                                    <div class="col-md-6 d-flex justify-content-end">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#modalRegistrarProducto">
                                            + Registrar producto
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>PRODUCTO</th>
                                            <th>CATEGORIA</th>
                                            <th>PRECIO</th>
                                            <th>STOCK</th>
                                            <th>ACCIONES</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for producto in Productos %}
                                        <tr>
                                            <td>{{ producto.nombre }}</td>
                                            <td>{{ producto.categoria }}</td>
                                            <td>{{ producto.precio }}</td>
                                            <td>{{ producto.stock }}</td>
                                            <td>
                                                <a href="{% url 'editarProducto' producto.id %}" class="btn btn-warning btn-sm">Editar</a>
                                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalEliminarProducto" data-id="{{ producto.id }}" data-nombre="{{ producto.nombre}}">Eliminar</button>                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal para Registrar Producto -->
        <div class="modal fade" id="modalRegistrarProducto" tabindex="-1" aria-labelledby="modalRegistrarProductoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalRegistrarProductoLabel">Registrar producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data" class="needs-validation" id="form-registrar">
                            {% csrf_token %}
                            {{ formularioRegistrarProducto|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Registrar producto</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal para Editar Producto -->
        <div class="modal fade" id="modalEditarProducto" tabindex="-1" aria-labelledby="modalEditarProductoLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEditarProductoLabel">Editar producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" enctype="multipart/form-data" class="needs-validation" id="form-editar">
                            {% csrf_token %}
                            {{ formularioEditarProducto|crispy }}
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary">Guardar cambios</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal para Eliminar Producto -->
        <div class="modal fade" id="modalEliminarProducto" tabindex="-1" aria-labelledby="modalEliminarProductoLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalEliminarProductoLabel">Eliminar Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro que desea eliminar el producto <strong id="productoNombre"></strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <form id="formEliminar" method="POST">
                            {% csrf_token %}
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
<script src="{% static 'Druids/js/inventario.js' %}"></script>
{% endblock %}