{% extends 'Druids/base.html' %}
{% block title %}listadoProductos{% endblock %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/listadoProductos.css' %}">
<link rel="stylesheet" href="{% static 'Druids/css/card-producto.css' %}">
<main>
    <!-- Contenido principal -->
    <section class="my-3">
        <navbar class="navegacion-categorias navbar-expand-sm">
            <div class="row justify-content-center categorias">
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/arbol-icono.png' %}" alt="arboles" />
                            <h3 class="text-center fs-6">Arboles</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/arbusto-icono.png' %}" alt="arbustos" />
                            <h3 class="text-center fs-6">Arbustos</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/cactus-icono.png' %}" alt="cactus" />
                            <h3 class="text-center fs-6">Cactus</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/flores-icono.png' %}" alt="flores" />
                            <h3 class="text-center fs-6">Flores</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/implementos-icono.png' %}"
                                alt="Implementos" />
                            <h3 class="text-center fs-6">Implementos</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/cuidados-icono.png' %}" alt="cuidados" />
                            <h3 class="text-center fs-6">Cuidados</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/enredaderas-icono.png' %}"
                                alt="enredaderas" />
                            <h3 class="text-center fs-6">Enredaderas</h3>
                        </div>
                    </a>
                </div>
            </div>
        </navbar>
    </section>
    <!-- Barra de búsqueda y ordenamiento -->

    <section class="filtro-y-busqueda">
        <div class="contenedor-filtros">
            <div class="barra-busqueda">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
            <div class="boton-ordenar">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle fs-5"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ordenar por
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item fs-5" href="#">Precio (mayor a menor)</a></li>
                        <li><a class="dropdown-item fs-5" href="#">Precio (menor a mayor)</a></li>
                        <li><a class="dropdown-item fs-5" href="#">Nombre (A-Z)</a></li>
                        <li><a class="dropdown-item fs-5" href="#">Nombre (Z-A)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Listado de productos -->
    <section class="listado-productos">
        <div class="row d-flex justify-content-center ">
            <div class="col-lg-2 col-md-3 col-sm-6 my-3">
                <div class="card">
                    <img
                    class="card__background"
                    src="{% static 'Druids/img/plant.png' %}"
                    />
                    <div class="card__content | flow">
                    <div class="card__content--container | flow">
                        <h2 class="card__title">planta</h2>
                        <p class="card__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                        labore laudantium deserunt fugiat numquam.
                        </p>
                    </div>
                    <button class="card__button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-3">
                <div class="card">
                    <img
                    class="card__background"
                    src="{% static 'Druids/img/plant.png' %}"
                    />
                    <div class="card__content | flow">
                    <div class="card__content--container | flow">
                        <h2 class="card__title">planta</h2>
                        <p class="card__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                        labore laudantium deserunt fugiat numquam.
                        </p>
                    </div>
                    <button class="card__button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-3">
                <div class="card">
                    <img
                    class="card__background"
                    src="{% static 'Druids/img/plant.png' %}"
                    />
                    <div class="card__content | flow">
                    <div class="card__content--container | flow">
                        <h2 class="card__title">planta</h2>
                        <p class="card__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                        labore laudantium deserunt fugiat numquam.
                        </p>
                    </div>
                    <button class="card__button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-3">
                <div class="card">
                    <img
                    class="card__background"
                    src="{% static 'Druids/img/plant.png' %}"
                    />
                    <div class="card__content | flow">
                    <div class="card__content--container | flow">
                        <h2 class="card__title">planta</h2>
                        <p class="card__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                        labore laudantium deserunt fugiat numquam.
                        </p>
                    </div>
                    <button class="card__button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-3">
                <div class="card">
                    <img
                    class="card__background"
                    src="{% static 'Druids/img/plant.png' %}"
                    />
                    <div class="card__content | flow">
                    <div class="card__content--container | flow">
                        <h2 class="card__title">planta</h2>
                        <p class="card__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                        labore laudantium deserunt fugiat numquam.
                        </p>
                    </div>
                    <button class="card__button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-3">
                <div class="card">
                    <img
                    class="card__background"
                    src="{% static 'Druids/img/plant.png' %}"
                    />
                    <div class="card__content | flow">
                    <div class="card__content--container | flow">
                        <h2 class="card__title">planta</h2>
                        <p class="card__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                        labore laudantium deserunt fugiat numquam.
                        </p>
                    </div>
                    <button class="card__button">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 my-3">
                <div class="card">
                    <img
                    class="card__background"
                    src="{% static 'Druids/img/plant.png' %}"
                    />
                    <div class="card__content | flow">
                    <div class="card__content--container | flow">
                        <h2 class="card__title">planta</h2>
                        <p class="card__description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum in
                        labore laudantium deserunt fugiat numquam.
                        </p>
                    </div>
                    <button class="card__button">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </section>                


    <section class="paginacion">
        <nav>
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </section>
</main>
<script src="{% static 'Druids/js/listadoProductos.js' %}"></script>
{% endblock %}