{% extends 'Druids/base.html' %}
{% block title %}listadoProductos{% endblock %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/listadoProductos.css' %}">
<link rel="stylesheet" href="{% static 'Druids/css/card-producto.css' %}">
<main>
    <section class="my-3">
        <navbar class="navegacion-categorias navbar-expand-sm">
            <div class="row justify-content-center categorias">
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' 'Arboles' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/arbol-icono.png' %}" alt="arboles" />
                            <h3 class="text-center fs-6">Arboles</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' 'Arbustos' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/arbusto-icono.png' %}" alt="arbustos" />
                            <h3 class="text-center fs-6">Arbustos</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' 'Cactus' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/cactus-icono.png' %}" alt="cactus" />
                            <h3 class="text-center fs-6">Cactus</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' 'Flores' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/flores-icono.png' %}" alt="flores" />
                            <h3 class="text-center fs-6">Flores</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' 'Implementos' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/implementos-icono.png' %}" alt="Implementos" />
                            <h3 class="text-center fs-6">Implementos</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' 'Cuidados' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/cuidados-icono.png' %}" alt="cuidados" />
                            <h3 class="text-center fs-6">Cuidados</h3>
                        </div>
                    </a>
                </div>
                <div class="col-4 col-sm-4 col-md-2 col-lg-1 mx-3">
                    <a href="{% url 'listadoProductos' 'Enredaderas' %}" style="text-decoration: none !important;">
                        <div class="contenedor-categoria mt-3">
                            <img class="img-fluid" src="{% static 'Druids/img/enredaderas-icono.png' %}" alt="enredaderas" />
                            <h3 class="text-center fs-6">Enredaderas</h3>
                        </div>
                    </a>
                </div>
            </div>
        </navbar>
    </section>

    <section class="listado-productos">
        <div class="row d-flex justify-content-center ">
            {% for producto in productos %}
            <div class="col-lg-2 col-md-3 col-sm-6 my-3">
                <div class="card">
                    <img class="card__background" src="{{ producto.imagen_principal}}" alt="Imagen del producto">
                    <div class="card__content | flow">
                        <div class="card__content--container | flow">
                            <h2 class="card__title">{{ producto.nombre }}</h2>
                            <p class="card__description">{{ producto.descripcion }}</p>
                        </div>
                        <button class="card__button"><a href="{% url 'producto' producto.id %}">Comprar</a></button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>                


    <section class="paginacion">
        <nav>
            <ul class="pagination d-flex justify-content-center">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </section>
</main>
<script src="{% static 'Druids/js/listadoProductos.js' %}"></script>
{% endblock %}
