{% extends 'Druids/base.html' %} 
{% load static %} 
{% load crispy_forms_tags %}
{% block title %}pago{% endblock %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/pago.css' %}">
<main>
    <section>
        <div class="row">
            <div class="col-12 mt-1">
                <h1 class="text-center">Pago</h1>
            </div>
        </div>
    </section>
    <div class="row g-5 mx-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Tu carrito</span>
                <span class="badge bg-primary rounded-pill">{{ carrito_items|length }}</span>
            </h4>
            <ul class="list-group mb-3">
                <!-- Aquí va el listado de productos en el carrito -->
                 {% for item in carrito_items %}
                <li class="list-group item mt-2">
                    <div class="row">
                        <div class="col-3">
                            <img src="{{ item.producto.imagen_principal.url }}" class="img-fluid rounded-3" alt="{{ item.producto.nombre }}">
                        </div>
                        <div class="col-9">
                            <p class="lead fw-normal mb-2">{{ item.producto.nombre }}</p>
                            <p>
                                <span class="text-muted fw-bold">Cantidad: </span>{{ item.cantidad }}
                                <span class="text-muted fw-bold">Precio: </span>${{ item.total_price }}
                            </p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-7 col-lg-8">
            <form class="needs-validation" id="form-pago" action="{% url 'pago' %}" method="POST">
                {% csrf_token %}
                <!-- Formulario de datos de pago -->
                {{ form|crispy }}
                <hr class="my-4">
                <button class="w-100 btn boton-pagar" type="submit">Pagar</button>
            </form>
        </div>
    </div>
</main>
<script src="{% static 'Druids/js/pago.js' %}"></script>
{% endblock %}