<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="css/pago.css" />
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/sidenav.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap" rel="stylesheet">
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyY3bxIioBHabCMOeT1HjfAFjC1kdA3eU&libraries=places&callback=initMap">
    </script>

    <title>Pago</title>
</head>

<header>
    <!-- barra de navegación-->
    <nav class="navbar navbar-expand-sm row">
        <div id="espacio-sesion" class="col-3 d-flex justify-content-start">
            <div id="boton-perfil">
                <!--boton perfil-->
                <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown">
                    <img class="img-fluid profile" src="img/perfil.png" />
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item fs-5" href="perfil.html">Perfil</a></li>
                    <li><a class="dropdown-item fs-5" href="historialCompra.html">Historial de compras</a></li>
                    <li><a id="cerrar-sesion" class="dropdown-item fs-5">Cerrar Sesión</a></li>
                </ul>
            </div>
            <div>
                <button id="boton-inicio-sesion" type="button" class="btn" data-bs-toggle="modal" data-bs-target="#myModal">
                    <h6 id="text-boton-inicio-sesion"><img id="img-iniciar-sesion" src="img/iniciar-sesion1.svg" alt=""><br/>Iniciar sesión</h6>
                </button>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
                <a class="navbar-brand" href="index.html">DRUIDS</a>
        </div>
        <!-- carrito de compra -->
        <div class="col-3 d-flex justify-content-end">
            <button type="button" class="btn">
                <a href="carrito.html">
                    <img class="img-fluid shopping-cart" src="img/carrito-de-compras.png" />
                </a>
            </button>
        </div>
    </nav>
    <!-- Modal de inicio de sesión -->
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title fs-1">Inicio de sesion</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="formulario-inicio-sesion" class="needs-validation" novalidate>
                        <div class="mb-3 form-group">
                            <label for="usuario-inicio-sesion" class="form-label fs-4">Nombre de usuario</label>
                            <input type="text" class="form-control fs-5" id="usuario-inicio-sesion"
                                name="usuario-inicio-sesion" placeholder="Ingresa tu nombre de usuario">
                        </div>
                        <div class="mb-3 form-group">
                            <label for="password-inicio-sesion" class="form-label fs-4">Contraseña</label>
                            <input type="password" class="form-control fs-5" id="password-inicio-sesion"
                                name="password-inicio-sesion" placeholder="Ingresa tu contraseña">
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary fs-4">Iniciar sesión</button>
                            <button type="button" class="btn btn-secondary fs-4" data-bs-toggle="modal"
                                data-bs-target="#registerModal">Registrarse</button>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger fs-5" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- The Register Modal -->
    <div class="modal" id="registerModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title fs-1">Registro</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form method="get" id="formulario-registro" class="needs-validation">
                        <div class="mb-3 form-group">
                            <label for="usuario-registro" class="form-label fs-4">Nombre de usuario</label>
                            <input type="text" class="form-control fs-5" id="usuario-registro" name="usuario-registro"
                                placeholder="Ingresa tu nombre de usuario">
                        </div>
                        <div class="mb-3 form-group">
                            <label for="email-registro" class="form-label fs-4">Email</label>
                            <input type="email" class="form-control fs-5" id="email-registro" name="email-registro"
                                placeholder="Ingresa tu email">
                        </div>
                        <div class="mb-3 form-group">
                            <label for="password-registro" class="form-label fs-4">Contraseña</label>
                            <div class="text-danger font-weight-bold d-flex" id="requerimiento-longitud">
                                <p class="requerimiento">Al menos 8 caracteres</p><img class="validador"
                                    src="img/empty-svgrepo-com.svg">
                            </div>
                            <div class="text-danger font-weight-bold d-flex" id="requerimiento-mayuscula">
                                <p class="requerimiento">Al menos una letra mayúscula</p><img class="validador"
                                    src="img/empty-svgrepo-com.svg">
                            </div>
                            <div class="text-danger font-weight-bold d-flex" id="requerimiento-minuscula">
                                <p class="requerimiento">Al menos una letra minúscula</p><img class="validador"
                                    src="img/empty-svgrepo-com.svg">
                            </div>
                            <div class="text-danger font-weight-bold d-flex" id="requerimiento-numero">
                                <p class="requerimiento">Al menos un número</p><img class="validador"
                                    src="img/empty-svgrepo-com.svg">
                            </div>
                            <div class="text-danger font-weight-bold d-flex" id="requerimiento-especial">
                                <p class="requerimiento">Al menos un carácter especial</p><img class="validador"
                                    src="img/empty-svgrepo-com.svg">
                            </div>
                            <div class="input-group">
                                <input type="password" class="form-control fs-5" id="password-registro"
                                    name="password-registro" placeholder="Ingresa tu contraseña">
                                <button type="button" class="btn" id="boton-ver-contraseña">
                                    <img src="img/mostrar-pass.svg" alt="Mostrar contraseña"
                                        class="ver-contraseña mostrar-pass">
                                    <img src="img/ocultar-pass.svg" alt="Ocultar contraseña"
                                        class="ver-contraseña ocultar-pass">
                                </button>
                            </div>
                            <div>
                                <label for="password-registro" class="error"></label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="password-registro-confirmar" class="form-label fs-4">Confirmar
                                contraseña</label>
                            <div class="input-group">
                                <input type="password" class="form-control fs-5" id="password-registro-confirmar"
                                    name="password-registro-confirmar" placeholder="Confirma tu contraseña">
                                <button type="button" class="btn" id="boton-ver-contraseña-confirmar">
                                    <img src="img/mostrar-pass.svg" alt="Mostrar contraseña"
                                        class="ver-contraseña mostrar-repass">
                                    <img src="img/ocultar-pass.svg" alt="Ocultar contraseña"
                                        class="ver-contraseña ocultar-repass">
                                </button>
                            </div>
                            <div>
                                <label for="password-registro-confirmar" class="error"></label>
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary fs-4">Registrarse</button>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger fs-5" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</header>

<body>
    <div id="mySidenav" class="sidenav">
        <a class="d-flex justify-content-end " href="inventario.html" id="inventario"><img id="img-inventario"
                src="img/inventario.svg" alt="inventario">
            <h2 class="text-sidebar" id="text-inventario">Inventario</h2>
        </a>
        <a class="d-flex justify-content-end " href="pedidos.html" id="pedidos"><img id="img-pedidos" src="img/pedidos.svg"
                alt="pedidos">
            <h2 class="text-sidebar" id="text-pedidos">Pedidos</h2>
        </a>
        <a class="d-flex justify-content-end " href="listaUsuarios.html" id="usuarios"><img id="img-usuarios" src="img/usuarios.svg"
                alt="usuarios">
            <h2 class="text-sidebar" id="text-usuarios">Usuarios</h2>
        </a>
    </div>
    <main>
        <!--boton de volver atras-->
        <section class="d-flex justify-content-start">
            <div class="container m-2">
                <a href="carrito.html" class="btn boton-volver"><img src="img/back-svgrepo-com.svg" alt=""></a>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-12 mt-1">
                    <h1 class="text-center">Pago</h1>
                </div>
            </div>
        </section>
        <div class="row g-5 mx-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Tu carro</span>
                    <span class="badge bg-primary rounded-pill">3</span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Nombre del producto</h6>
                            <small class="text-muted">Breve descripción</small>
                        </div>
                        <span class="text-muted">$1200</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Segundo producto</h6>
                            <small class="text-muted">Breve descripción</small>
                        </div>
                        <span class="text-muted">$800</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-sm">
                        <div>
                            <h6 class="my-0">Tercer elemento</h6>
                            <small class="text-muted">Breve descripción</small>
                        </div>
                        <span class="text-muted">$500</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                            <h6 class="my-0">Código promocional</h6>
                            <small>Ejemplo codigo</small>
                        </div>
                        <span class="text-success">−$500</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Total (clp)</span>
                        <strong>$2000</strong>
                    </li>
                </ul>
                <form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" id="codigo-promo" name="codigo-promo"
                            placeholder="Código Promo">
                        <button type="submit" class="btn btn-secondary">Aplicar</button>
                    </div>
                </form>
            </div>
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" id="form-pago">
                    <div class="row g-3">
                        <div class="col-sm-6 form-group">
                            <label for="Primer-nombre-pago" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="Primer-nombre-pago" name="Primer-nombre-pago"
                                placeholder="">
                        </div>
                        <div class="col-sm-6 form-group">
                            <label for="Apellido-pago" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="Apellido-pago" name="Apellido-pago"
                                placeholder="">
                        </div>
                        <div class="col-12 form-group">
                            <label for="rut" class="form-label">Rut</label>
                            <input type="text" class="form-control" id="rut" name="rut" placeholder="xxxxxxxx-x">
                        </div>
                        <div class="col-12 form-group">
                            <label for="Email-pago" class="form-label">Email <span
                                    class="text-muted">(Opcional)</span></label>
                            <input type="email" class="form-control" id="Email-pago" name="Email-pago"
                                placeholder="tu@example.com">
                        </div>
                        <div class="col-12 form-group">
                            <label for="Direccion-pago" class="form-label">Dirección</label>
                            <input type="text" class="form-control" id="Direccion-pago" name="Direccion-pago"
                                placeholder="Paicavi 123">
                        </div>
                        <div class="col-md-5 form-group">
                            <label for="Region" class="form-label">Region</label>
                            <select class="form-select" id="Region" name="Region">
                                <option value="0">Seleccione...</option>
                                <option value="Región de Arica y Parinacota">Región de Arica y Parinacota</option>
                                <option value="Región de Tarapacá">Región de Tarapacá</option>
                                <option value="Región de Antofagasta">Región de Antofagasta</option>
                                <option value="Región de Atacama">Región de Atacama</option>
                                <option value="Región de Coquimbo">Región de Coquimbo</option>
                                <option value="Región de Valparaíso">Región de Valparaíso</option>
                                <option value="Región Metropolitana">Región Metropolitana</option>
                                <option value="Región de O’Higgins">Región de O’Higgins</option>
                                <option value="Región del Maule">Región del Maule</option>
                                <option value="Región del Ñuble">Región del Ñuble</option>
                                <option value="Región del Biobío">Región del Biobío</option>
                                <option value="Región de La Araucanía">Región de La Araucanía</option>
                                <option value="Región de Los Ríos">Región de Los Ríos</option>
                                <option value="Región de Los Lagos">Región de Los Lagos</option>
                                <option value="Región de Aysén">Región de Aysén</option>
                                <option value="Región de Magallanes">Región de Magallanes</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="comuna" class="form-label">Comuna</label>
                            <select class="form-select" id="comuna" name="comuna">
                            </select>
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="zip" class="form-label">Código postal</label>
                            <input type="text" class="form-control" id="zip" name="zip" placeholder="">
                        </div>
                    </div>
                    <hr class="my-4">
                    <h4 class="mb-3">Metodo de pago</h4>
                    <div class="my-3 form-group">
                        <div class="form-check">
                            <input id="credito" name="metodo-pago" type="radio" class="form-check-input">
                            <label class="form-check-label" for="metodo-pago">Tarjeta de crédito</label>
                        </div>
                        <div class="form-check">
                            <input id="debito" name="metodo-pago" type="radio" class="form-check-input">
                            <label class="form-check-label" for="metodo-pago">Tarjeta de débito</label>
                        </div>
                        <div>
                            <label for="metodo-pago" class="error"></label>
                        </div>
                    </div>
                    <div class="row gy-3">
                        <div class="col-md-6 form-group">
                            <label for="Nombre-titular" class="form-label">Nombre del Titular</label>
                            <input type="text" class="form-control" id="Nombre-titular" name="Nombre-titular"
                                placeholder="">
                        </div>
                        <div class="col-md-6 form-group">
                            <label for="Numero-tarjeta" class="form-label">Número de tarjeta</label>
                            <input type="text" class="form-control" id="Numero-tarjeta" name="Numero-tarjeta"
                                placeholder="">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="Fecha-expiracion" class="form-label">Vencimiento</label>
                            <input type="text" class="form-control" id="Fecha-expiracion" name="Fecha-expiracion"
                                placeholder="MM/YY">
                        </div>
                        <div class="col-md-3 form-group">
                            <label for="cvv" class="form-label">CVV</label>
                            <input type="text" class="form-control" id="cvv" name="cvv">
                        </div>
                    </div>
                    <hr class="my-4">
                    <button type="submit" class="w-100 btn btn-primary btn-lg" id="boton-pago">Continuar con el
                        pago</button>
                </form>
            </div>
        </div>
    </main>
    <footer class="mt-3 p-5 justify-content-right">
        <!-- Contenido del pie de página -->
        <a class="p-5 text-white fs-4" href="sobreNosotros.html">Sobre Nosotros</a>
        <a class="p-5 text-white fs-4" href="contacto.html">Contacto</a>
    </footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--jQuery validate-->
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="js/validaciones.js"></script>
<script src="js/pago.js"></script>
<script src="js/scripts.js"></script>
<script src="js/sesion.js"></script>
<script src="js/sidebar.js"></script>
</html>