{% extends 'Druids/base.html' %} 
{% block title %}pagoExitoso{% endblock %}
{% load static %} 
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/pagoexitoso.css' %}">
    <main>
        <div class="container contenedor-pagoexitoso mt-5">
            <div class="card">
                <div class="card-body text-center mt-5">
                    <h1>¡Pago Exitoso!</h1>
                    <p class="lead">Tu pago se ha realizado correctamente.</p>
                    <img src="{% static 'Druids/img/pagoExitoso.svg' %}" alt="Imagen de éxito" class="img-fluid" style="width: 200px;">
                    <p>Gracias por tu compra.</p>
                    <a href="{% url 'index' %}" class="btn btn-primary">Volver al Inicio</a>
                </div>
            </div>
        </div>
    </main>

</body>
{% endblock %}