{% extends 'Druids/base.html' %}
{% block title %}Pedidos{% endblock %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/pedidos.css' %}">
<main>
    <section class="pedido-section">
        <div class="container">
            <h1 class="text-center mb-4">Historial de pedidos</h1>
            <div class="row">
                {% if not pedidos %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div>
                        <div>
                            <img src="{% static 'Druids/img/gris_claro.jpg' %}" class="img-fluid rounded-3" alt="skeleton">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div>
                        <div>
                            <img src="{% static 'Druids/img/gris_claro.jpg' %}" class="img-fluid rounded-3" alt="skeleton">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div>
                        <div>
                            <img src="{% static 'Druids/img/gris_claro.jpg' %}" class="img-fluid rounded-3" alt="skeleton">
                        </div>
                    </div>
                </div>
                {% else %}
                {% for pedido in pedidos %}
                <div class="col-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-center">Pedido #{{ pedido.id }}</h5>
                            <p class="card-text">Cliente: {{ pedido.nombre }} {{ pedido.apellido }}</p>
                            <p class="card-text">Dirección: {{ pedido.direccion_envio }}</p>
                            <p class="card-text">Fecha: {{ pedido.fecha_pedido }}</p>
                            <p class="card-text">Total: ${{ pedido.total }}</p>
                            <p class="card-text">Estado: {{ pedido.estado }}</p>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-sm ver-detalles"
                                    data-pedido-id="{{ pedido.id }}" data-bs-toggle="modal"
                                    data-bs-target="#modalVerPedido{{pedido.id}}">Ver detalles</button>
                                {% if pedido.estado != 'Completado' and pedido.estado != 'Cancelado' %}
                                <button type="button" class="btn btn-sm boton-completado cambiar-estado"
                                    data-pedido-id="{{ pedido.id }}" data-estado="Completado">Completar</button>
                                <button type="button" class="btn btn-danger btn-sm cambiar-estado"
                                    data-pedido-id="{{ pedido.id }}" data-estado="Cancelado">Cancelar</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="modalVerPedido{{pedido.id}}" tabindex="-1" aria-labelledby="modalVerPedidoLabel"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalVerPedidoLabel">Pedido #<span id="pedido-id"></span></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Cliente: <span id="pedido-cliente"></span></p>
                                <p>Dirección: <span id="pedido-direccion"></span></p>
                                <p>Fecha: <span id="pedido-fecha"></span></p>
                                <p>Total: $<span id="pedido-total"></span></p>
                                <p>Estado: <span id="pedido-estado"></span></p>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col">Producto</th>
                                            <th scope="col">Cantidad</th>
                                            <th scope="col">Precio Unitario</th>
                                            <th scope="col">Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pedido-detalles">
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
</main>
{% csrf_token %}
<script>
    const detallePedidoUrl = "{% url 'detallePedido' %}";
    const cambiarEstadoPedidoUrl = "{% url 'cambiarEstadoPedido' %}";
</script>
<script src="{% static 'Druids/js/pedidos.js' %}"></script>
{% endblock %}