{% extends 'Druids/base.html' %} 
{% block title %}perfil{% endblock %}
{% load static %} 
{% block contenido %}
    <link rel="stylesheet" href="{% static 'Druids/css/perfil.css' %}">
    <main>
        <!--boton de volver atras-->
        <section class="d-flex justify-content-start">
            <div class="container m-2">
                <a href="{% url 'index' %}" class="btn boton-volver"><img src="{% static 'Druids/img/back-svgrepo-com.svg' %}" alt=""></a>
            </div>
        </section>
        <section>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card m-3">
                        <img src="{% static 'Druids/img/avatar.svg' %}" class="card-img-top img-fluid rounded-start imagen-perfil" alt="Card Image">
                        <div class="card-body d-flex justify-content-center">
                          <h5 class="card-title">Nombre usuario</h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <div class="card m-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Pepito
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    fip@jukmuh.al
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Direccion</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Concepcion, San andres 123
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalEditar">Editar perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- modal de editar datos -->
        <div class="modal" id="ModalEditar">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title fs-1">Editar perfil</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form id="formulario-editar-perfil" class="needs-validation">
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Nombre</h6>
                                </div>
                                <div class="col-sm-9 text-secondary form-group">
                                    <input type="text" class="form-control" id="nombre-perfil" name="nombre-perfil" placeholder="Pepito">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-9 text-secondary form-group">
                                    <input type="text" class="form-control" id="email-perfil" name="email-perfil" placeholder="fip@jukmuh.al" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Direccion</h6>
                                </div>
                                <div class="col-sm-9 text-secondary form-group">
                                    <input type="text" class="form-control" id="direccion-perfil" name="direccion-perfil"  placeholder="Concepcion, San andres 123">
                                </div>
                            </div>
                            <div class="col-md-12 mb-2">
                                <div class="form-group">
                                    <label for="imagen-perfil">Imágen de perfil (opcional)</label>
                                    <input type="file" class="form-control" id="imagen-perfil" name="imagen-perfil"  multiple>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 d-flex justify-content-end">
                                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger fs-5" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <section>
            <div class="card m-3">
                <div class="card-header d-flex justify-content-center">
                    <h5>Historial de compras</h5>
                </div>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                          <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">ID del Pedido: #1234</h5>
                                <p class="card-text">Productos Comprados:<br> - Producto 1<br> - Producto 2<br> - Producto 3</p>
                                <p class="card-text">Total: $100.00</p>
                                <p class="card-text">Estado de la Venta: En Proceso</p>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">ID del Pedido: #1235</h5>
                                <p class="card-text">Productos Comprados:<br> - Producto 4<br> - Producto 5<br> - Producto 6</p>
                                <p class="card-text">Total: $150.00</p>
                                <p class="card-text">Estado de la Venta: Entregado</p>
                              </div>
                            </div>
                          </div>
                          
                          <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="card">
                              <div class="card-body">
                                <h5 class="card-title">ID del Pedido: #1236</h5>
                                <p class="card-text">Productos Comprados:<br> - Producto 7<br> - Producto 8<br> - Producto 9</p>
                                <p class="card-text">Total: $200.00</p>
                                <p class="card-text">Estado de la Venta: Cancelado</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">ID del Pedido: #1234</h5>
                                  <p class="card-text">Productos Comprados:<br> - Producto 1<br> - Producto 2<br> - Producto 3</p>
                                  <p class="card-text">Total: $100.00</p>
                                  <p class="card-text">Estado de la Venta: En Proceso</p>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-sm-12 col-md-6 col-lg-4">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">ID del Pedido: #1235</h5>
                                  <p class="card-text">Productos Comprados:<br> - Producto 4<br> - Producto 5<br> - Producto 6</p>
                                  <p class="card-text">Total: $150.00</p>
                                  <p class="card-text">Estado de la Venta: Entregado</p>
                                </div>
                              </div>
                            </div>
                            
                            <div class="col-sm-12 col-md-6 col-lg-4">
                              <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">ID del Pedido: #1236</h5>
                                  <p class="card-text">Productos Comprados:<br> - Producto 7<br> - Producto 8<br> - Producto 9</p>
                                  <p class="card-text">Total: $200.00</p>
                                  <p class="card-text">Estado de la Venta: Cancelado</p>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
        </section>    
    </main>
{% endblock %}
