{% extends 'Druids/base.html' %}
{% block title %}producto{% endblock %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/producto.css' %}">
<main>
    <!--boton de volver atras-->
    <section class="d-flex justify-content-start">
        <div class="container m-2">
            <a href="{% url 'index' %}" class="btn boton-volver"><img
                    src="{% static 'Druids/img/back-svgrepo-com.svg' %}" alt=""></a>
        </div>
    </section>
    <section>
        <div class="row row-cols-2">
            <div class="col-12 col-sm-6 col-md-6 col-lg-6 d-flex justify-content-center">
                <div class="container m-3 contenedor-carousel d-block">
                    <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active imagen-caro">
                                <img class="imagen-carousel img-fluid w-100" src="{{ producto.imagen_principal.url }}" alt="Imagen del producto">
                            </div>
                            {% if producto.imagen_2 %}
                            <div class="carousel-item">
                                <img class="imagen-carousel img-fluid w-100" src="{{ producto.imagen_2.url }}" alt="Imagen adicional del producto">
                            </div>
                            {% endif %}
                            {% if producto.imagen_3 %}
                            <div class="carousel-item">
                                <img class="imagen-carousel img-fluid w-100" src="{{ producto.imagen_3.url }}" alt="Imagen adicional del producto">
                            </div>
                            {% endif %}
                            {% if producto.imagen_4 %}
                            <div class="carousel-item">
                                <img class="imagen-carousel img-fluid w-100" src="{{ producto.imagen_4.url }}" alt="Imagen adicional del producto">
                            </div>
                            {% endif %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="row mt-3">
                        <div class="col contenedor-selectores">
                            <img class="img-thumbnail cursor mb-2 mx-lg-2 selector-imagen" src="{{ producto.imagen_principal.url }}" alt="Imagen del producto" data-bs-target="#imageCarousel" data-bs-slide-to="0">
                            {% if producto.imagen_2 %}
                            <img class="img-thumbnail cursor mb-2 mx-lg-2 selector-imagen" src="{{ producto.imagen_2.url }}" alt="Imagen adicional del producto" data-bs-target="#imageCarousel" data-bs-slide-to="1">
                            {% endif %}
                            {% if producto.imagen_3 %}
                            <img class="img-thumbnail cursor mb-2 mx-lg-2 selector-imagen" src="{{ producto.imagen_3.url }}" alt="Imagen adicional del producto" data-bs-target="#imageCarousel" data-bs-slide-to="2">
                            {% endif %}
                            {% if producto.imagen_4 %}
                            <img class="img-thumbnail cursor mb-2 mx-lg-2 selector-imagen" src="{{ producto.imagen_4.url }}" alt="Imagen adicional del producto" data-bs-target="#imageCarousel" data-bs-slide-to="3">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="container m-3 d-flex flex-column align-items-center ">
                    <h1 class="titulo-producto my-4">{{ producto.nombre }}</h1>
                    <p class="descripcion-producto my-4">{{ producto.descripcion }}</p>
                    <h4>{% if producto.stock > 0 %}En stock{% else %}Sin stock{% endif %}</h4>
                    <p class="precio-producto my-4">${{ producto.precio }}</p>
                    <div class="row">
                        <form method="post" action="{% url 'agregar_al_carrito' producto.id %}">
                            {% csrf_token %}
                            <div class="col-12 my-4">
                                <label class="d-flex justify-content-center" for="cantidad">Cantidad</label>
                                <input type="number" class="form-control cantidad" id="cantidad" name="cantidad" min="1"
                                    max="{{ producto.stock }}" value="1">
                            </div>
                            <div class="col my-5">
                                <button type="submit" class="btn btn-primary" {% if producto.stock == 0 %}disabled
                                {% endif%}>Agregar al carrito</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
    <section class="d-flex justify-content-center Descripcion">
        <div class="container m-3 text-center">
            <h1>Descripción y cuidados</h1>
            <p class="descripcion-producto">{{ producto.descripcion_larga }}</p>
        </div>
    </section>
    <section class="d-flex justify-content-center">
        <div class="container m-3 text-center">
            <h1>Productos relacionados</h1>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
                {% for relacionado in productos_relacionados %}
                <div class="col">
                    <div class="card">
                        <img src="{{ relacionado.imagen.url }}" class="card-img-top" alt="{{ relacionado.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ relacionado.nombre }}</h5>
                            <p class="card-text">${{ relacionado.precio }}</p>
                            <a href="{% url 'producto' relacionado.id %}" class="btn btn-primary">Ver producto</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
        {% for m in messages %}
            <script>
                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 2000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                      toast.onmouseenter = Swal.stopTimer;
                      toast.onmouseleave = Swal.resumeTimer;
                    }
                  });
                  Toast.fire({
                    icon: "success",
                    title: "Agregado con éxito al carrito"
                  });
            </script>
        {% endfor %}
    {% endif %}

<script src="{% static 'Druids/js/producto.js' %}"></script
{% endblock %}