{% extends 'Druids/base.html' %} 
{% block title %}sobreNosotros{% endblock %}
{% load static %} 
{% block contenido %}
<link rel="stylesheet" href="{% static 'Druids/css/sobreNosotros.css' %}">
    <main>
        <!--boton de volver atras-->
        <section class="d-flex justify-content-start">
            <div class="container">
                <a href="{% url 'index' %}" class="btn boton-volver"><img src="{% static 'Druids/img/back-svgrepo-com.svg' %}" alt=""></a>
            </div>
        </section>
        <section>
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-6">
                        <img src="{% static 'Druids/img/image.jpg' %}" class="img-fluid rounded-start" alt="About Us">
                    </div>
                    <div class="col-md-6">
                        <h2 class="display-5">Sobre nosotros</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper diam quis mattis semper.
                            Nunc nec dui eget quam ultricies mattis. Nullam ac felis semper, lobortis quam sit amet,
                            ullamcorper quam. Maecenas sit amet mollis eros. Sed ultrices dui eget magna tincidunt, ac
                            tincidunt magna faucibus.</p>
                        <p>Morbi euismod arcu ut sapien ultricies, id mattis libero faucibus. Nam at lectus in quam
                            convallis efficitur. Sed tincidunt, lectus et aliquam ultricies, elit dui laoreet nunc, eget
                            consectetur arcu orci non libero. Donec ac diam nec lectus tincidunt ullamcorper eget et
                            libero.</p>
                        <p>Morbi euismod arcu ut sapien ultricies, id mattis libero faucibus. Nam at lectus in quam
                            convallis efficitur. Sed tincidunt, lectus et aliquam ultricies, elit dui laoreet nunc, eget
                            consectetur arcu orci non libero. Donec ac diam nec lectus tincidunt ullamcorper eget et
                            libero.</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <h2 class="display-5">Nuestra vision</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed semper diam quis mattis semper.
                            Nunc nec dui eget quam ultricies mattis. Nullam ac felis semper, lobortis quam sit amet,
                            ullamcorper quam. Maecenas sit amet mollis eros. Sed ultrices dui eget magna tincidunt, ac
                            tincidunt magna faucibus.</p>
                        <p>Morbi euismod arcu ut sapien ultricies, id mattis libero faucibus. Nam at lectus in quam
                            convallis efficitur. Sed tincidunt, lectus et aliquam ultricies, elit dui laoreet nunc, eget
                            consectetur arcu orci non libero. Donec ac diam nec lectus tincidunt ullamcorper eget et
                            libero.</p>
                        <p>Morbi euismod arcu ut sapien ultricies, id mattis libero faucibus. Nam at lectus in quam
                            convallis efficitur. Sed tincidunt, lectus et aliquam ultricies, elit dui laoreet nunc, eget
                            consectetur arcu orci non libero. Donec ac diam nec lectus tincidunt ullamcorper eget et
                            libero.</p>
                    </div>
                    <div class="col-md-6 mt-5">
                        <img src="{% static 'Druids/img/image.jpg' %}" class="img-fluid rounded-start" alt="About Us">
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
